1. What exactly is []?

 - The symble "[]" typically represents an empty list or  an empty array ,depending on the context . it is commonly used in computer programming languages to denote a collection of elements.

 - in some progamming languages like python , the "[]" syntax is used to define an empty list.

In [ ]:
# ex , in python .

list = []

In [ ]:
list

[]

  - in some progamming languages like javascript ,the "[]" syntax is used to define an empty array.

In [ ]:
# ex , in javascript .

my_array = []

In [ ]:
my_array

[]

2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [ ]:
spam = [2, 4, 6, 8, 10]

spam[2] = 'hello'

spam[2]

'hello'

### Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [ ]:
spam = ['a','b','c','d']

spam[int(int('3'*2)/11)]

'd'

4. What is the value of spam[-1]?

In [ ]:
spam[-1]

'd'

5. What is the value of spam[:2]?

In [ ]:
spam[:2]

['a', 'b']

### Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.
6. What is the value of bacon.index(&#39;cat&#39;)?

In [ ]:
bacon = [3.14,'cat',11,'cat',True]

bacon.index('cat')

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [ ]:
bacon.append(99)

In [ ]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [ ]:
bacon = [3.14,'cat',11,'cat',True]

bacon.remove('cat')

In [ ]:
bacon

[3.14, 11, 'cat', True]

9. What are the list concatenation and list replication operators?

  - In python , the list concatenation operaction is the plus sign (+) and it is combine two lists into a single list.

In [ ]:
 list1 = [1,2,3]
 list2 = [4,5,6]

 concatenation_list = list1 + list2

 print(concatenation_list)

[1, 2, 3, 4, 5, 6]

- The list replication operators asterisk(*) symbol. it allows you to creare a new list by repeating the elements of an existing list a certain number of times.

In [ ]:
list1=[1,2,3,4]

replication_list = list1 * 3

print(replication_list)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

10. What is difference between the list methods append() and insert()?
 -  In 'append()'methods is used to  adds element to end of a list.
 - take a single  argument , which is the element to be added to the list.
 - the element is appended as the last item in the list.

In [ ]:
list = [2,4,'sham',2.3]

list.append(80)

list

[2, 4, 'sham', 2.3, 80]

- In insert() methods is used to insert an element specified position in the list.
- it takes a two argument , the index where the element is to be inserted and the element itself.
- the element is inserted at the specified index ,and all the elements after that index are shifted to the right.

In [ ]:
list = [2,4,'sham',2.3]

list.insert(2,'ram')

list

[2, 4, 'ram', 'sham', 2.3]

11. What are the two methods for removing items from a list?

- using the 'remove()' method : the 'remove()' method allowys you to remove the first occurrence of a sepcific item in a list.
- you need to specific the value of the item you want to remove.

In [ ]:
list = [2,4,'sham',2.3]
list.remove(4)

print(list)

[2, 'sham', 2.3]

- using the 'pop()' method: the 'pop()'method remove and returns the item at a specified index in a list.
- if you don't provide an index, it removes and returns the last item in the list.

In [ ]:
my_list = [2,4,'sham',2.3]
removed_item = my_list.pop(2)

print(removed_item)
print(my_list)

sham
[2, 4, 2.3]

12. Describe how list values and string values are identical.

- The similarity between lists and string in python is that both are sequences.
- the differences between them are that firstly ,list are mutable but strings are immutable.
- secondly ,element of a list can be of different types whereas a string only contains characters that are all of string type.

13. What&#39;s the difference between tuples and lists?

## list
- Lists are one of the most flexible and powerful containers in Python. It is similar to an array in other languages like Java.

The list has the following features -

You can use Python lists to store data of multiple types simultaneously.
Lists help preserve data sequences and further process those sequences in other ways.
- Lists are dynamic.
- Lists are mutable.
- Lists are ordered.
- An index is used to traverse a list.
Lists help store multiple items and then iterate over them using a loop. Because lists are dynamic, you can easily add or remove items anytime.
- A list is initiated with the [ ] symbol.

In [2]:
l= [1,2,3,'sham',3.14]
print(l)

[1, 2, 3, 'sham', 3.14]

## Tuple
- Tuples are also a sequence data type containing elements of different data types.

It comes in handy when storing a collection of items, especially if you want those items to be unchanging.

A python tuple has the following features -

- Tuples are used to store heterogeneous and homogeneous data.
- Tuples are immutable in nature.
- Tuples are ordered
- An index is used to traverse a tuple.
- Tuples are similar to lists. It also preserves the data sequence.
As tuples are immutable, they are faster than the list because they are static.
- A tuple is initiated with the () symbol.

In [3]:
t =(1,2,3,4)
print(t)

(1, 2, 3, 4)

14. How do you type a tuple value that only contains the integer 42?

In [4]:
tuple = (42)
print(tuple)

42

15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [63]:
my_list = [1,2,3,4]
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

TypeError: ignored

In [30]:
my_tuple = (1, 2, 3)
my_list= list(my_tuple)
print(my_list)
print(type(my_list))

[1, 2, 3]
<class 'list'>

16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

- variables will contain references to list values rather than list values themselves. But for strings and integer values, variables simply contain the string or integer value.

In [37]:
list =[1,2,3]
another_list = list

list.append(4)
print(another_list)

[1, 2, 3, 4]

17. How do you distinguish between copy.copy() and copy.deepcopy()?

- copy.copy() create reference to original object. If you change copied object - you change the original object.
- copy. deepcopy() creates new object and does real copying of original object to new one. Changing new deepcopied object doesn't affect original object

In [45]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list[1][1] = 'AA'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 'AA', 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 'AA', 2], [3, 3, 3]]

In [44]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]